<app-default-login-layout
  title="Welcome back!"
  primaryBtnTxt="login"
  secondBtnTxt="register"
>
  <form>

    <app-primary-input
      formName="email"
      label="Email"
      type="email"
      placeholder="joazin@gmail.com"
    >
      <img src="/assets/images/email-icon.svg" alt="Email Icon">
    </app-primary-input>

    <!-- Password -->
    <app-primary-input

    >
      <img src="/assets/images/password-icon.svg" alt="Password Icon">
    </app-primary-input>
  </form>
</app-default-login-layout>
